html, body {
	width:100%;
	height: 100%;
	background: #fff;
}

html {
	
}

body {	
	color: @black;
	.sans-serif();
	font-weight: 400;
	font-size: @font-base-size;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	color: @brand-primary;
	font-weight: 700;

	&:hover {
		.transition(all 0.4s ease);
	}
}

h1, h2, h3, h4, h5, h6 {
	.title-font();
}

h1 {
	font-size: 48px;
	text-transform: uppercase;
	font-weight:normal;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {

}

h6 {

}

ul {

	li {

	}
}