/*!
 * Preboot v2
 *
 * Open sourced under MIT license by @mdo.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */


//
// Variables
// --------------------------------------------------

// Grayscale
@black-10:                 darken(#fff, 10%);
@black-20:                 darken(#fff, 20%);
@black-30:                 darken(#fff, 30%);
@black-40:                 darken(#fff, 40%);
@black-50:                 darken(#fff, 50%);
@black-60:                 darken(#fff, 60%);
@black-70:                 darken(#fff, 70%);
@black-80:                 darken(#fff, 80%);
@black-90:                 darken(#fff, 90%);
@black:                    @black-90;

// Brand colors
@brand-primary:            #ef4638;
@brand-primary-rgb:        rgb(239,70,56);
@dark-red:                 #63121f;


// Scaffolding
@body-background:         #fff;

// Links
@link-color:              @brand-primary;
@link-color-hover:        darken(@link-color, 15%);

// Text
@font-color:              #dcdcdc;
@font-base-size:          16px;


// Typography
@sans-serif:              "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif:                   Georgia, "Times New Roman", Times, serif;
@monospace:               Monaco, Menlo, Consolas, "Courier New", monospace;
@title-font:              "Helvetica Neue", Helvetica, Arial, sans-serif;

// Forms
@input-color-placeholder: lighten(@font-color, 25%);










